* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #111;
}

#game {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* MENÚ */

#menu {
  width: 100%;
  height: 100%;
  background: linear-gradient(#6ec6ff, #dff7ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  font-size: 100px;
  margin-bottom: 10px;
}

#menu h1 {
  font-size: 35px;
  color: #3d8b32;
  text-shadow: 2px 2px white;
}

#menu p {
  font-size: 18px;
  color: #333;
  margin: 10px 0 30px;
}

button {
  border: none;
  border-radius: 15px;
  padding: 16px 35px;
  font-size: 20px;
  font-weight: bold;
  background: #4caf50;
  color: white;
  box-shadow: 0 5px 0 #28752c;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 #28752c;
}

/* JUEGO */

#gameScreen {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

#hud {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: white;
  text-shadow: 2px 2px #333;
}

#city {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#65c9ff 0%, #b9ecff 65%, #8bd05c 65%);
  overflow: hidden;
}

#sun {
  position: absolute;
  right: 30px;
  top: 45px;
  font-size: 65px;
}

/* EDIFICIOS */

.building {
  position: absolute;
  bottom: 35%;
  background: #e8b85b;
  border: 3px solid #9b6d29;
}

.building1 {
  left: 5%;
  width: 100px;
  height: 180px;
}

.building2 {
  left: 38%;
  width: 130px;
  height: 230px;
}

.building3 {
  right: 3%;
  width: 110px;
  height: 160px;
}

/* PISO */

#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  background:
    repeating-linear-gradient(
      90deg,
      #555 0px,
      #555 50px,
      #666 50px,
      #666 100px
    );
  border-top: 8px solid #333;
}

/* MANGUITO */

#player {
  position: absolute;
  left: 15%;
  bottom: 35%;
  font-size: 70px;
  z-index: 10;
  transform: translateY(50%);
}

/* OBSTÁCULO */

#obstacle {
  position: absolute;
  right: -80px;
  bottom: 35%;
  font-size: 55px;
  z-index: 10;
  transform: translateY(50%);
}

/* BOTÓN SALTAR */

#jumpButton {
  position: absolute;
  right: 20px;
  bottom: 25px;
  z-index: 30;
  background: #ff9800;
  box-shadow: 0 5px 0 #b86600;
}

/* GAME OVER */

#gameOver {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 100;
}

#gameOver h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

#gameOver p {
  font-size: 22px;
  margin-bottom: 25px;
      }
